* {
    margin: 0px;
    /* padding: 0px; */
}
html {
    background-color: #ffd1b3;
    text-align:center;
    position: relative;
   
}
#page-container{
    display:flex;
    width:100%;
    height:100%;
    flex-direction: row;
}
#container {
    position: relative;
    top: 70px;
    padding-top: 20px;
    width: 50%;
    border-right: 3px solid #ebbfa2;
}
#display-container{
    position: relative;
    width: 47%;
    right: 6px;
}
.vertical-line{
    border-left: 3px solid rgb(154, 154, 173);
    height: 450px;
    position: relative;
    left: 50%;
}
#heading{
    margin: 10px 0px;
    border: black 1px solid;
    background-color: #e66262;
    color: rgb(239, 223, 203);
    font-weight: 900;
}
#entry{
    border-radius: 25px;
    width: 120px;
    font-size: 30px;
    font-weight: 550;
    background-color: #001a66;
    color: whitesmoke;
    margin-top: 20px;
}
.input {
    font-size: 35px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d447e;
}
#display{
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    border: rgb(140, 203, 224) solid 2px;
    background-color: burlywood;
    color: #004d00;
}
input {
    padding: 10px;
}
th, td, table{   
    border: rgb(0, 0, 0) solid 2px;
    padding: 5px;
    font-size: 25px;
    margin: 10px;
}
td {
    font-size: 20px;
    color: crimson;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#display-heading{
    margin-top: 10px;
    font-family: sans-serif;
}
